---

---

<section id="about">
  <article class="flex flex-col justify-center items-start text-white">
    <h2 class="uppercase text-2xl font-bold lg:-rotate-90">About</h2>
    <p class="">
      I am a full stack web developer with a special focus on front-end. My
      curiosity and desire for improvement led me to become a luthier and,
      later, to get involved in the development of websites. My goal is to
      create exceptional online experiences for users, focusing on usability,
      attractive design, and performance optimization.
    </p>
  </article>
</section>

<style></style>
