---

---

<section
  class="w-full text-white flex flex-col gap-4 items-center justify-center"
>
  <h2 class="text-[1.5rem]">Contact</h2>
  <form action="" class="h-full w-[400px] flex flex-col gap-6">
    <div class="flex flex-col gap-2 text-start w-full">
      <label>Email:</label>
      <input class="text-black rounded-sm" type="text" />
    </div>
    <div class="flex flex-col gap-2 text-start w-full">
      <label>Email:</label>
      <input class="text-black rounded-sm" type="text" />
    </div>
    <div class="flex flex-col gap-2 text-start w-full">
      <label>Email:</label>
      <input class="text-black rounded-sm" type="text" />
    </div>
    <div class="flex flex-col gap-2 text-start w-full">
      <label>Email:</label>
      <input class="text-black rounded-sm" type="text" />
    </div>
    <button
      class="px-6 py-3 uppercase font-semibold bg-gradient-to-r from-pinkColor2 to-pinkColor rounded"
      >Send message</button
    >
  </form>
</section>
