---

---

<section
  id="contact"
  class="w-full text-white flex flex-col gap-4 items-center justify-center md:w-9/12 md:m-auto lg:w-[500px]"
>
  <h2 class="text-titlesMobile uppercase font-bold">Contact</h2>
  <form action="" class="h-full w-full flex flex-col gap-4">
    <div class="flex flex-col gap-2 text-start w-full">
      <label>Name:</label>
      <input class="text-black rounded-sm h-10 px-2" type="text" placeholder="Jhon Doe" />
    </div>
    <div class="flex flex-col gap-2 text-start w-full">
      <label>Subject:</label>
      <input class="text-black rounded-sm h-10 px-2" type="text" placeholder="Interview"/>
    </div>
    <div class="flex flex-col gap-2 text-start w-full">
      <label>Email:</label>
      <input class="text-black rounded-sm h-10 px-2" type="text" placeholder="jhondoe@mail.com"/>
    </div>
    <div class="flex flex-col gap-2 text-start w-full">
      <label>Message:</label>
      <textarea class="text-black rounded-sm h-32 px-2 py-1"></textarea>
    </div>
    <button
      class="px-6 mt-6 mb-20 py-3 uppercase font-semibold bg-gradient-to-r from-pinkColor2 to-pinkColor rounded"
      >Send message</button
    >
  </form>
</section>
