---

---

<footer
  class="text-white text-center py-6 h-60 flex flex-col items-center justify-between bg-footerColor"
>
  <h6>Tomás Sorgetti</h6>
  <div class="flex flex-col gap-2">
    <ul class="flex gap-4">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
    <ul class="flex gap-4">
      <li><a href="">about</a></li>
      <li><a href="">projects</a></li>
      <li><a href="">contact</a></li>
    </ul>
  </div>
  <span>Copyright 2023</span>
</footer>
