---

---

<header class="w-full text-white text-center">
  <div>
    <h1 class="text-[3rem] font-bold">Tomás Sorgetti</h1>
    <span class="text-[1.5rem] font-medium uppercase">Full Stack Developer</span
    >
  </div>
  <div class="w-full flex items-center justify-center">
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
      <li>REACT</li>
    </ul>
    <img
      src="../../src/assets/tom5.png"
      alt="persona mirando a la nada con luces neon de fondo"
    />
    <ul>
      <li>REDUX</li>
      <li>NODE</li>
      <li>EXPRESS</li>
      <li>SEQUELIZE</li>
    </ul>
  </div>
</header>

<style></style>
