---

---

<header class="w-full text-white text-center pt-24">
  <div>
    <h1 class="text-2xl font-bold uppercase">Tomás Sorgetti</h1>
    <span class="text-base font-medium uppercase">Full Stack Developer</span
    >
  </div>
  <div class="w-full flex items-center justify-center">
    <ul class="hidden">
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
      <li>REACT</li>
    </ul>
    <div>
      <img
        src="../../src/assets/tom5.png"
        alt="persona mirando a la nada con luces neon de fondo"
      />
      <a
        href="#contact"
        class="px-16 py-3 uppercase font-semibold bg-gradient-to-r from-pinkColor2 to-pinkColor rounded"
      >
        Contact</a
      >
    </div>
    <ul class="hidden">
      <li>REDUX</li>
      <li>NODE</li>
      <li>EXPRESS</li>
      <li>SEQUELIZE</li>
    </ul>
  </div>
</header>

<style></style>
