---
---
<nav class="text-white w-full flex justify-between items-center px-16">
    <h1 class="text-[2rem] font-bold">Tomas Sorgetti</h1>
    <ul class="flex gap-4">
        <li>About</li>
        <li>Projects</li>
        <li>Contact</li>
    </ul>
</nav>

<style>

</style>