---
import "@fontsource/days-one";
import "@fontsource/bai-jamjuree";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I am a full stack web developer with a special focus on front-end. My
      curiosity and desire for improvement led me to become a luthier and,
      later, to get involved in the development of websites. My goal is to
      create exceptional online experiences for users, focusing on usability,
      attractive design, and performance optimization."
    />
    <meta
      name="keywords"
      content="developer, fullstack, frontend, react, javascript, junior, html, css, redux, pixel perfect, design"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full relative font-sans">
    <img
      class="absolute top-0 left-0 -z-20"
      src="../../src/assets/Gradient1.png"
      alt="background filter gradient"
    />
    <img
      class="absolute top-1/4 left-0 -z-20"
      src="../../src/assets/Gradient2.png"
      alt="background filter gradient"
    />
    <img
      class="absolute bottom-0 right-0 -z-20"
      src="../../src/assets/Gradient3.png"
      alt="background filter gradient"
    />
    <img
      class="absolute left-0 top-10 w-full -z-20"
      src="../../src/assets/background_vector.png"
      alt="vector background"
    />
    <Navigation />
    <main
      class="w-11/12 m-auto lg:w-10/12 xl:w-9/12 2xl:w-8/12 3xl:w-7/12 4xl:w-6/12"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    background-color: #050310;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  body {
    background-image: url("../assets/background.png");
  }
  span,
  p {
    font-family: "Bai Jamjuree", sans-serif;
  }

  h1 {
    font-family: "Days One", sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
